
/* general */

body {
	font: 14px/1.75em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	background: #fff;
	padding: 24px;
}
h1 {
	color: #86e34b;
	text-shadow: #555555 0 1px 1px;
	text-transform: uppercase;
	font-size: 175%;
	margin-bottom: 24px;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	color: inherit;
}
.buttons {
	white-space: nowrap;
	padding: 12px 0 6px 0;
}
.buttons a, input[type=submit] {
	vertical-align: baseline;
	margin: 0 2px;
	padding: 3px 9px 4px 9px;
	background: #aaaeb0;
	color: #fcfcfc;
	font-size: 14px;
	line-height: 1.25em;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	text-decoration: none;
}
input[type=submit] {
	background: #77ce41;
	padding: 3px 9px 4px 9px;
	font-weight: bold;
}
input[type=submit]:active {
	background: #6fbf40;
}
.buttons a:hover, input[type=submit]:hover {
	cursor: pointer;
	text-shadow: #555555 0 1px 0;
}
.buttons a:active {
	background: #9b9ea0;
}
input[type=text] {
	padding: 3px;
}
input[type=password] {
	padding: 3px;
}
textarea {
  display: block;
  font-family: "Menlo Regular", monaco, monospaced;
  font-size: 11px;
  line-height: 11px;
  margin: 0;
  width: 100%;
  padding: 3px;
  height: 210;
  border: 1px solid #c1c1c1;
  border-top-color: #848484;
  border-bottom-color: #ddd;
}
.template_buttons {
  text-align: right;
}
.produce_buttons {
  margin-bottom: 7px;
}

td {
  width: 50%;
  padding: 7px;
  vertical-align: top;
}

.group {
  padding: 8px 12px;
  background: #fff;
  border: 1px dashed #ccd0d4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

