
/* general */

body {
	font: 14px/1.75em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	background: #fff;
	padding: 24px;
}
h1 {
	color: #86e34b;
	text-shadow: #555555 0 1px 1px;
	text-transform: uppercase;
	font-size: 175%;
	margin-bottom: 24px;
	font-weight: bold;
}
h1 a {
	text-decoration: none;
	color: inherit;
}
.buttons {
	white-space: nowrap;
	padding: 12px 0 6px 0;
}
.buttons a, input[type=submit] {
	vertical-align: baseline;
	margin: 0 2px;
	padding: 3px 9px 4px 9px;
	background: #aaaeb0;
	color: #fcfcfc;
	font-size: 14px;
	line-height: 1.25em;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	text-decoration: none;
}
input[type=submit] {
	background: #77ce41;
	padding: 3px 9px 4px 9px;
	font-weight: bold;
}
input[type=submit]:active {
	background: #6fbf40;
}
.buttons a:hover, input[type=submit]:hover {
	cursor: pointer;
	text-shadow: #555555 0 1px 0;
}
.buttons a:active {
	background: #9b9ea0;
}
input[type=text] {
	padding: 3px;
}
input[type=password] {
	padding: 3px;
}
textarea {
	display: block;
	margin: 0;
	width: 100%;
	padding: 3px;
	height: 80px;
	border: 1px solid #c1c1c1;
	border-top-color: #848484;
	border-bottom-color: #ddd;
}

/* output */

.json_output {
	color: #e7eef5;
	background: rgba(0,0,0,.85);
	font: 12px/20px menlo, monaco, courier, mono;
	padding: 12px;
        margin: 1px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	overflow: auto;
}

.json_label {
  color: #8B8F91;
  padding: 1px;
  margin: 1px;
}
.json_table {
  width: 100%;
}
.json_table td {
  width: 50%;
}

