/* general */
body {
	font: 14px/1.75em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	background: white;
	padding: 24px;
}
h1 {
	font-size: 200%;
	margin-bottom: .75em;
}
h1 a {
	text-decoration: none;
}
.buttons {
	white-space: nowrap;
	padding: 12px 0;
}
.buttons a, a.button, input[type=submit] {
	vertical-align: baseline;
	margin: 0 2px;
	padding: 3px 9px 4px 9px;
	background: #aaaeb0;
	color: #fcfcfc;
	font-size: 14px;
	line-height: 1.25em;
	font-weight: bold;
	border: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-decoration: none;
}
input[type=submit] {
	background: #00e;
	padding: 3px 9px 4px 9px;
	font-weight: bold;
}
.buttons a:hover, input[type=submit]:hover {
	cursor: pointer;
	text-shadow: #555555 0 1px 0;
}
input[type=text], input[type=password] {
	padding: 3px;
}
#template {
	display: block;
	font-family: "Menlo Regular", monaco, monospaced;
	font-size: 11px;
	line-height: 11px;
	margin: 0;
	padding: 3px;
	width: 100%;
	height: 270px;
}
.template_buttons {
	text-align: right;
}
td {
	width: 50%;
	padding: 6px;
	vertical-align: top;
}
td:first-child {
	padding-left: 0;
}
td:last-child {
	padding-right: 0;
	border-color: #fffeff;
}
.group {
	padding: 8px 12px;
	border: 1px solid #dbdbdb;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}